:root {
    --oscuro1: #222831;
    --oscuro2: #393E46;
    --secundario: #00ADB5;
    --claro: #f2f0f0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: var(--claro);
}

a {
    color: var(--secundario);
    text-decoration: none;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.7rem;
    margin-top: 2rem;
}

main .box {
    max-width: 32rem;
    background-color: var(--claro);
    border: 4px solid black;
    border-radius: 30px;
    position: relative;
}

main .box-content {
    margin: 11rem 5rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.box-content .title {
    min-width: 25rem;
    height: 8rem;
    margin: 0 0 2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid black;
    background-color: var(--oscuro1);;
    color: var(--secundario);
    border-top-left-radius: 22.5px;
    border-top-right-radius: 22.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-content h2 {
    font-size: 3rem;
    color: var (var(--secundario));
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.group-container {
    width: 100%;
}

.label-input-container {
    display: flex;
    flex-direction: column;
}

form label, form input, form select {
    margin-bottom: 1rem;
}

form input, form select {
    color: black;
    font-size: 1.8rem;
    border: 2px solid black;
    border-radius: 5px;
    background-color: var(--claro);
    padding: 4px 8px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.button {
    min-width: 10rem;
    max-width: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    color: var(--secundario);
    font-size: 1.6rem;
    font-weight: bold;
    background-color: var(--oscuro1);
    border: 2px solid black;
    border-radius: 2rem;
    cursor: pointer;
    margin: 10px 0 30px;
}

.button-calculate:hover {
    color: #fff;
    background-color: var(--oscuro2);
    border: none;
}

.button-reset:hover {
    color: #fff;
    background-color: var(--oscuro2);
    border: none;
}

.answer-container {
    width: 100%;
    height: 8rem;
    border: 3px solid black;
    border-radius: 5px;
    background-color: var(--claro);
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer-text {
    text-align: center;
    line-height: 1.5rem;
    padding: 10px 20px;
}

.answer-text span {
    font-weight: bold;
    font-size: 1.8rem;
}